# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Windows-specific files
Thumbs.db
desktop.ini

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# jetbrains setting folder
.idea/

# VS Code setting folder
.vscode/

# environment variables
.env
.env.*
!.env.example

# personal assets and info
_private/